/* ------------------------------------------------------------------------
-   Make browsers more friendly with padding and margin. -
-------------------------------------------------------------------------*/

@font-face {
    font-family: "codeFont";
    src: url("../fonts/dejavu-sans-mono.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


/* ------------------------------------------------------------------------
-  Main background colors. -
-------------------------------------------------------------------------*/

.color-1 { background: #2c3e50; } /* Title background */
.color-2 { background: #34495e; } /* Description background */
.color-3 { background: white; } /* Modules background */
.color-4 { background: #7f8c8d; } /* Main menu background */
.color-5 { background: #f2f2f2; }


/* ------------------------------------------------------------------------
-  The basics. -
-------------------------------------------------------------------------*/

html, body {
    background: #d1d1d1;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 100%;
    margin: 0;
}

p { line-height: 1.4; }

.top { text-align: right; }
.inside { padding-left: 15px; }


/* ------------------------------------------------------------------------
-  The navigation. Main menu and article links. -
-------------------------------------------------------------------------*/

nav {
    font-size: 80%;
    text-align: center;
}

    nav a {
        padding: 0.3em;
        text-transform: uppercase;
        line-height: 3em;
    }

    nav a:hover {
        border: 0;
        color: #f2f2f2 !important;
        text-decoration: underline;
    }

/* ------------------------------------------------------------------------
-  The header (or the left side part of the page). -
-------------------------------------------------------------------------*/

.main-header {
    float: left;
    font-weight: 300;
    line-height: 1.7;
    text-align: center;
    width: 25%;
}

    .main-header h1 {
        font-weight: 300;
        margin: 0;
    }

    .main-header a {
        color: #f5f5f5;
        text-transform: uppercase;
        text-decoration: none;        
    }

    .main-header a:hover, .main-header a:focus { color: #e1e1e1; }


.main-header .description { color: #e5e5e5; }
.main-header .main-menu { padding: 0.1em; }

/* ------------------------------------------------------------------------
-  The content. -
-------------------------------------------------------------------------*/

.main-content {
    float: right;
    padding: 0;
    width: 75%;
}

    .main-content a { 
        color: #063563; 
        text-decoration: none;
        font-weight: bold;
    }
    .main-content a:hover, .main-content a:focus { color: #2980b9; }

.main-content article {
    font-size: 95%;
}

    .main-content article h1 {
        margin: 0 0 0.6em 0;
    }
        .main-content article h1 a {
            font-size: 125%;
        }


.category {
    color: #ccc;
    position: absolute;
    right: 0.75em;
    top: 0.75em;
}


hr {
    border: 0;
    background: #ccc;
    height: 1px;
}


.module {
    margin: 0.5em;
    overflow: hidden;
    padding: 1.5em;
    position: relative;
}

    .main-content .module {
        border-bottom: 2px solid #b1b1b1;
        margin-right: 1em;
    }

    .module img {
        height: auto;
        max-width: 100%;
    }

    nav.module { padding-top: 1.5em; }


/* ------------------------------------------------------------------------
-  Blockquote, code, pre. -
-------------------------------------------------------------------------*/

pre, code {
    font-family: "codeFont", "Consolas", "Courier New", "Courier", "monospace";
}

code {
    background-color: #fcfcfc;	
    border: 1px dashed #e0e0e0;
}

pre code {
    border: none;
}

pre {
    line-height: 1.5em;
    padding: 0.4em;
    background-color: #fcfcfc;	
    border: 1px dashed #e0e0e0;
    font-size: 85%;
}

blockquote {
    font-style: italic;
    border-left: 5px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 5px;
    quotes: "\201C""\201D""\2018""\2019";
}

    blockquote:before {
        color: #ccc;
        content: open-quote;
        font-size: 4em;
        line-height: 0.1em;
        margin-right: 0.25em;
        vertical-align: -0.4em;
    }

    blockquote p { display: inline; }

/* ------------------------------------------------------------------------
-  Pagination. -
-------------------------------------------------------------------------*/

.pagination { text-align: center; }
    .pagination .page_number { color: #888; }
    .pagination .nolink { color: #666; }


/* ------------------------------------------------------------------------
-  Links (header). -
-------------------------------------------------------------------------*/

.links a {
    color: #212121;
    text-transform: lowercase;
}

    .links a:hover, .links a:active {
        color: #212121;
        text-decoration: underline;
    }


/* ------------------------------------------------------------------------
-  Recent Posts (header). -
-------------------------------------------------------------------------*/

.recent-posts nav {
    text-align: left;
}

.recent-posts a {
    color: #212121;
    text-transform: none;
    display: block;
}

    .recent-posts a:hover, .recent-posts a:active {
        color: #f2f2f2 !important;
        background: #2c3e50;
        border: 0;
    }

.recent-posts h4 {
    margin-top: 0;
    margin-bottom: 0.5em;
}


/* ------------------------------------------------------------------------
-  Tables -
-------------------------------------------------------------------------*/

table {
    border: 1px solid #a1a1a1;
    border-collapse: collapse;
    width: 100%;
}

    table tr { border: none !important; }
    table td,th {
        border: 1px solid #a1a1a1;
        padding: 3px;
    }
    table thead tr { background: #f2f2f2 !important; }
    table tr:nth-child(odd) { background: #f2f2f2; }
    table tr:nth-child(even)  { background: #e1e1e1; }


/* ------------------------------------------------------------------------
-  Social share (end of the post). -
-------------------------------------------------------------------------*/

.social {
    padding: 0 !important;
    text-align: right;
}
    .social ul {
        list-style: none;
        list-style-position: inside;
        margin: 0 !important;
        padding: 0 !important;
    }

    .social li {
        display: inline-block;
        margin: 0 !important;
        padding: 0.5em;
    }

    .social li a {
        color: #f5f5f5;
        display: block;
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .social li a:hover, .social li a:active {
        color: #f5f5f5;
        text-decoration: underline;
    }

    .fb { background: #2c3e50; } .fb:hover { background: #34495e; }
    .tw { background: #2980b9; } .tw:hover { background: #3498db; }
    .gp { background: #c0392b; } .gp:hover { background: #e74c3c; }


/* ------------------------------------------------------------------------
-  Footer. -
-------------------------------------------------------------------------*/

.footer {
    clear: both;
    color: #888;
    font-size: 50%;
    margin: 0em;
    padding: 0.2em;
    text-align: center;
}
    .footer a {
        color: #444;
        text-decoration: underline;
    }

    .footer p { margin-top: 2px; }


/* ------------------------------------------------------------------------
-  Make things responsive. -
-------------------------------------------------------------------------*/

@media (max-width: 850px) {

    body { font-size: large; }

    .main-header,
    .main-content {
        padding: 0.75em;
        width: 100%;
    }

    .main-header .module { margin-left: 0; }
    .main-content .module { margin-top: 0; }

    nav { text-align: center; }
    nav br { display: none; }
    nav a { margin: 0 0.75em; }

    .social { text-align: center; }
    .social li { display: block; width: 100%; }
}


/* ------------------------------------------------------------------------
-  Utilities
-------------------------------------------------------------------------*/

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}