---
layout: default
---

<section class="main-content">

    {% for post in paginator.posts %}
        <article class="module color-3">
                <h1><a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></h1>
                <!-- <span class="category">{{ post.categories | array_to_sentence_string }}</span> -->
                <hr>
            {% if post.content contains '<!--break-->' %}
                {{ post.content | split:'<!--break-->' | first }}
                <a href="{{ post.url }}" style="font-weight: bold">[read more...]</a>
            {% else %}
                <p>{{ post.content | truncatewords: 100 }}</p>
                <a href="{{ post.url }}" style="font-weight: bold">[read more...]</a>
            {% endif %}
        </article>
    {% endfor %}

    <div class="module pagination color-3">
        {% if paginator.previous_page %}
            <a href="{{ site.url }}{{ paginator.previous_page_path }}" class="previous">Previous</a>
        {% endif %}

        <span class="page_number">&mdash; {{ paginator.page }} of {{ paginator.total_pages }} &mdash;</span>

        {% if paginator.next_page %}
            <a href="{{ site.url }}{{ paginator.next_page_path }}" class="next">Next</a>
        {% endif %}
    </div>

</section>


